<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.summer.boom.dao.ResourceMapper" >

    <sql id="resourceColumn">
        id,parent_id,name,description,url,permission,type,priority,available
    </sql>

    <resultMap id="resourceColumn" type="resource">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="url" property="url"/>
        <result column="permission" property="permission"/>
        <result column="type" property="type"/>
        <result column="priority" property="priority"/>
        <result column="available" property="available"/>
    </resultMap>

    <select id="queryAll" resultMap="resourceColumn">
      SELECT <include refid="resourceColumn"/> from sys_resource
    </select>
</mapper>